<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-qykefu"
        version="0.0.1">
    
    <name>TDKefu</name>
    
    <description>This plugin for Cordova</description>
    
    <keywords>Cordova</keywords>
    
    <repo>https://github.com/terrydr/com.terrydr.kefu.git</repo>
    <issue>https://github.com/terrydr/com.terrydr.kefu.git</issue>
    
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/TDKefu.js" name="TDKefu">
        <clobbers target="tdkefu" />
    </js-module>
    
    <platform name="ios">
        <config-file  target="config.xml" parent="/*">
            <feature  name="TDKefu">
                <param  name="ios-package"  value="TDKefu"/>
            </feature>
        </config-file>
        
        <source-file src="src/ios/Class/TDKefu.m" />
        <header-file src="src/ios/Class/TDKefu.h" />
        <source-file src="src/ios/Resource/ExportHeaders/QYConversationManagerProtocol.h" />
        <header-file src="src/ios/Resource/ExportHeaders/QYCustomUIConfig.h" />
        <source-file src="src/ios/Resource/ExportHeaders/QYHeaders.h" />
        <header-file src="src/ios/Resource/ExportHeaders/QYSDK.h" />
        <source-file src="src/ios/Resource/ExportHeaders/QYSessionViewController.h" />
        <header-file src="src/ios/Resource/ExportHeaders/QYSource.h" />
        <source-file src="src/ios/Resource/ExportHeaders/QYUserInfo.h" />
        <source-file src="src/ios/Resource/libQYSDK.a" framework="true" />
        
        <resource-file src="src/ios/Resource/QYResource.bundle" />
        
        <framework src="libz.tbd" />
        <framework src="libstdc++.6.0.9.tbd" />
        <framework src="libsqlite3.tbd" />
    </platform>
    
	<platform name="android">
        <config-file  target="res/xml/config.xml" parent="/*">
            <feature  name="TDKefu">
                <!--TDEye:继承CDVPlugin的类名 -->
                <param  name="android-package"  value="com.terrydr.customerservices.KeFuPlugin_intent"/>
            </feature>
        </config-file>
		 <config-file target="AndroidManifest.xml" parent="/*">
			<!-- 加入应用需要的权限 -->
			<!-- 网络相关 -->
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<!-- 手机状态 -->
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<!-- 读写文件 -->
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<!-- 多媒体 -->
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-feature
				android:name="android.hardware.microphone"
				android:required="false" />
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">  
			<activity
				android:name="com.terrydr.customerservices.IntentActivity"
				android:configChanges="keyboardHidden|orientation"
				android:screenOrientation="portrait"
				android:windowSoftInputMode="stateHidden|adjustResize" />
			<activity
				android:name="com.qiyukf.unicorn.activity.ServiceMessageActivity"
				android:configChanges="keyboardHidden|orientation"
				android:icon="@drawable/ysf_action_bar_icon_transparent"
				android:screenOrientation="portrait"
				android:theme="@style/ysf_window_theme"
				android:windowSoftInputMode="stateHidden|adjustResize" />
			<activity
				android:name="com.qiyukf.nim.uikit.session.activity.WatchMessagePictureActivity"
				android:configChanges="keyboardHidden|orientation"
				android:screenOrientation="portrait"
				android:theme="@style/ysf_window_theme"
				android:windowSoftInputMode="stateHidden|adjustResize" />
			<activity
				android:name="com.qiyukf.nim.uikit.session.activity.PickImageActivity"
				android:configChanges="keyboardHidden|orientation"
				android:screenOrientation="portrait"
				android:theme="@style/ysf_window_theme"
				android:windowSoftInputMode="stateHidden|adjustResize" />
			<activity
				android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumActivity"
				android:screenOrientation="portrait"
				android:theme="@style/ysf_window_theme" />
			<activity
				android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
				android:screenOrientation="portrait"
				android:theme="@style/ysf_window_theme" />
			<activity
				android:name="com.qiyukf.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
				android:configChanges="keyboardHidden|orientation"
				android:label="@string/ysf_input_panel_take"
				android:screenOrientation="portrait"
				android:theme="@style/ysf_window_theme"
				android:windowSoftInputMode="stateHidden|adjustResize" />
			<!-- 声明云信后台服务 -->
			<service
				android:name="com.qiyukf.nimlib.service.NimService"
				android:process=":core" />
			<service
				android:name="com.qiyukf.nimlib.service.NimService$Aux"
				android:process=":core" />
			<!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
			<receiver
				android:name="com.qiyukf.nimlib.service.NimReceiver"
				android:exported="false"
				android:process=":core">
				<intent-filter>
					<action android:name="android.intent.action.BOOT_COMPLETED" />
					<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				</intent-filter>
			</receiver>
			<!-- 云信进程间通信receiver -->
			<receiver android:name="com.qiyukf.nimlib.service.ResponseReceiver" />
        
        </config-file>				 
		<source-file src="src/android/libs/drawee-v0.9.0.jar" target-dir="libs"/>
		<source-file src="src/android/libs/fbcore-v0.9.0.jar" target-dir="libs"/>
		<source-file src="src/android/libs/fresco-v0.9.0.jar" target-dir="libs"/>
		<source-file src="src/android/libs/imagepipeline-base-v0.9.0.jar" target-dir="libs"/>
		<source-file src="src/android/libs/imagepipeline-v0.9.0.jar" target-dir="libs"/>
		<source-file src="src/android/libs/universal-image-loader-1.9.3.jar" target-dir="libs"/>		
		<source-file src="src/android/com/terrydr/customerservices"
                     target-dir="src/com/terrydr"/>		
		<source-file src="src/android/assets/unicorn_emoji" target-dir="assets"/>
		<source-file src="src/android/assets/keystore_unicorn" target-dir="assets"/>
		<source-file src="src/android/assets/keystore_unicorn2" target-dir="assets"/>
		<!--<source-file src="src/android/res/values/cscolors.xml" target-dir="res/values" />	-->
    </platform>
</plugin>
